---
title: Home Page
---
## Collections
<ul>
<% app.sitemap.resources.select{|r| r.collection?} do |r| %>
  <li>Collection: <%= r.best_title %> (<%= r.page_id %>)</li>
<% end %>
</ul>

## All Resources
<% app.sitemap.resources do |r| %>
  <li>Resource: <%= r.best_title %> (<%= r.page_id %>)</li>
<% end %>
</ul>
